extends includes/layout
block selfheader
  link(rel='stylesheet', href='../css/index.css')
block content
  .wrapper
    .row
     .col-lg-4
      .thumbnail.animated.flipInX
        .thumbnail-imgwrapper
          a(href="#")
           img(src="http://img6.douban.com/view/music_index_banner/raw/public/banner-19.jpg" )
        .caption
          h4 
            a(href="#") 新东方英语衔接课
          p <i class="glyphicon glyphicon-expand"></i> 上次观看到 多少多少节
          .thumbnail-footer
            span.pull-left 
              i.glyphicon.glyphicon-thumbs-up
              span.number 998 
              i.glyphicon.glyphicon-thumbs-down
              span.number 998  
            span.pull-right 
              i.glyphicon.glyphicon-eye-open
              span.number 998 
     .col-lg-4
      .thumbnail.animated.flipInX
        a(href="#")
         img(src="http://img6.douban.com/view/music_index_banner/raw/public/banner-19.jpg" )
        .caption
          h4 
            a(href="#") 新东方英语衔接课
          p <i class="glyphicon glyphicon-expand"></i> 上次观看到 多少多少节
          .thumbnail-footer
            span.pull-left 
              i.glyphicon.glyphicon-thumbs-up
              span.number 998 
              i.glyphicon.glyphicon-thumbs-down
              span.number 998  
            span.pull-right 
              i.glyphicon.glyphicon-eye-open
              span.number 998 

     .col-lg-4
      .thumbnail.animated.flipInX
        a(href="#")
         img(src="http://img6.douban.com/view/music_index_banner/raw/public/banner-19.jpg" )
        .caption
          h4 
            a(href="#") 新东方英语衔接课
          p <i class="glyphicon glyphicon-expand"></i> 上次观看到 多少多少节
          .thumbnail-footer
            span.pull-left 
              i.glyphicon.glyphicon-thumbs-up
              span.number 998 
              i.glyphicon.glyphicon-thumbs-down
              span.number 998  
            span.pull-right 
              i.glyphicon.glyphicon-eye-open
              span.number 998 
     .col-lg-4
      .thumbnail.animated.flipInX
        a(href="#")
         img(src="http://img6.douban.com/view/music_index_banner/raw/public/banner-19.jpg" )
        .caption
          h4 
            a(href="#") 新东方英语衔接课
          p <i class="glyphicon glyphicon-expand"></i> 上次观看到 多少多少节
          .thumbnail-footer
            span.pull-left 
              i.glyphicon.glyphicon-thumbs-up
              span.number 998 
              i.glyphicon.glyphicon-thumbs-down
              span.number 998  
            span.pull-right 
              i.glyphicon.glyphicon-eye-open
              span.number 998 
     .col-lg-4
      .thumbnail.animated.flipInX
        a(href="#")
         img(src="http://img6.douban.com/view/music_index_banner/raw/public/banner-19.jpg" )
        .caption
          h4 
            a(href="#") 新东方英语衔接课
          p <i class="glyphicon glyphicon-expand"></i> 上次观看到 多少多少节
          .thumbnail-footer
            span.pull-left 
              i.glyphicon.glyphicon-thumbs-up
              span.number 998 
              i.glyphicon.glyphicon-thumbs-down
              span.number 998  
            span.pull-right 
              i.glyphicon.glyphicon-eye-open
              span.number 998 
block selffooter
  script
   $('#footer').pushFooter();