div#header
  .wrapper
    .navbar-header
      a(class="navbar-brand" href="index.html") 会唐前端框架
    .collapse.navbar-collapse.bs-navbar-collapse
      ul.nav.navbar-nav
        li.on
          a(href='index.html') 首页
        li
          a(href='list-video.html') 起步
        li
          a(href='list-photo.html') CSS 样式
        li
          a(href='list-madou.html') CSS 组件
        li
          a(href='list-shop.html')  JavaScript 插件
      ul.nav.navbar-nav.navbar-right
        li.on
          a(href='index.html') 分享
        li
          a(href='list-video.html') 注册
        li
          a(href='list-photo.html') 登录
